{% extends 'base_front.html.twig' %}
{% block title %}Rechargement{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Montants</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item">Montants</li>
                                <li class="breadcrumb-item active">Rechargement</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.bout) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.monRecu) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.obesr) }}</div>
                </div>
        
                <div class="flex float-right">
                    <button class="btn btn-success" 
                        onclick="return confirm('Est-ce que vous voulez vraiment de recharger votre compte');"><i class="fa fa-check"></i>Valider
                    </button>
                    <a href="{{path('home')}}" class="btn btn-warning rounded-0">
                            <i class="fa fa-times"></i>
                        Annuler
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}