{% extends 'base_front.html.twig' %}
{% block title %}Modification de profile{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                                <h4 class="page-title">Mon Compte</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item">Mon compte</li>
                                <li class="breadcrumb-item active">Modification de mon profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for label,messages in app.flashes %}
        {% for message in messages %}
            <div class="container">
                <div class="d-flex align-items-center justify-content-end">
                    <div>
                        <div class="alert bg-{{ label }} text-white rounded-0">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
        {{ form_start(form) }}

        <div>
            <a href="{{ asset('uploads/images/users/' ~ app.user.picture) }}" target="_blank">
                {% if app.user.picture != NULL %}
                <img src="{{ asset('uploads/images/users/' ~ app.user.picture) }}" alt="picture teacher" class="rounded-circle thumb-xl">
            </a>
                {% else %}
                <a href="{{ asset('img/no-image.png') }}" target="_blank">
                    <img src="{{ asset('img/no-image.png') }}" alt="No image" class="rounded-circle thumb-xl">
                </a>
                {% endif %} 
                <div class="row">
                    <div class="col-md-5">{{ form_row(form.picture) }}</div>
                </div>
        </div>
        </hr><br>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.nom) }}</div>
            <div class="col-md-5">{{ form_row(form.prenom) }}</div>
        </div>

        <div class="row center">
            <div class="col-md-3">{{ form_row(form.tel) }}</div>
        </div>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.email) }}</div>
        </div>
       <a href="{{path('password')}}" class="btn btn-secondary">Changer le mot de passe</a>


        <div class="flex float-right  mt-3 mr-5">
                <Button class="btn btn-primary"><i class="fa fa-check"></i>Enregistrer</Button>
                <a href="{{path('user')}}" class="btn btn-warning rounded-0">
                        <i class="fa fa-times"></i>
                    Annuler
                </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}