{% extends 'base_front.html.twig' %}
{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Mon compte</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Mon compte</li>
                            <li class="breadcrumb-item active">Modification de mon profile</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                {% for label,messages in app.flashes %}
                {% for message in messages %}
                <div class="container">
                    <div class="d-flex align-items-center justify-content-end">
                        <div>
                            <div class="alert bg-{{ label }} text-white rounded-0">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
        
                {{ form_start(form) }}
        
                <div class="form-group">{{ form_row(form.oldPassword) }}</div>
                <div class="form-group">{{ form_row(form.newPassword) }}</div>
                <div class="form-group">{{ form_row(form.comfirmPassword) }}</div>
                {# <div class="row">
                    <div class="col-md-5">{{ form_row(form.oldPassword) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">{{ form_row(form.newPassword) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">{{ form_row(form.comfirmPassword) }}</div>
                </div> #}
                <div class="form-group">
                    <div class="flex float-right  mt-3">
                        <Button class="btn btn-primary"><i class="fa fa-check"></i>Enregistrer</Button>
                        <a href="{{path('profil_edit')}}" class="btn btn-warning rounded-0">
                                <i class="fa fa-times"></i>
                            Annuler
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}