{% extends 'base_admin.html.twig' %}
{% block title %}Modification de boutique{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Boutiques</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item">Boutiques</li>
                                <li class="breadcrumb-item active">Modification</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {# <h4>Nouvelle boutique</h4> #}
            {{ form_start(form) }}

            <div class="row">
                <div class="col md-3">{{ form_row(form.code) }}</div>
                <div class="col md-3">{{ form_row(form.nRcs) }}</div>
                <div class="col md-3">{{ form_row(form.numFixe) }}</div>
            </div>

            <div class="row">
                <div class="col md-3">{{ form_row(form.numMobile) }}</div>
                <div class="col md-3">{{ form_row(form.numTelecopie) }}</div>
                <div class="col md-3">{{ form_row(form.codePost) }}</div>
            </div>

            <div class="row">
                <div class="col md-5">{{ form_row(form.nom) }}</div>
                <div class="col md-5">{{ form_row(form.adresse) }}</div>
            </div>

            <div class="row">
                <div class="col md-5">{{ form_row(form.ville) }}</div>
                <div class="col md-5">{{ form_row(form.pays) }}</div>
            </div>

            <div class="flex float-right mt-3">
                    <Button class="btn btn-primary"><i class="fa fa-check"></i>Modifier</Button>
                    <a href="{{path('bout')}}" class="btn btn-warning rounded-0">
                            <i class="fa fa-times"></i>   
                        Annuler
                    </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}