<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>IPDemat | {% block title %} login {% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('assets/images/ipdemat.png') }}">
    <link href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

    <!--===============================================================================================-->
    {# login #}
    <link rel="icon" type="image/png" href="login/images/icons/ipdemat.png"/ <link rel="stylesheet" type="text/css"
        href="login/vendor/bootstrap/css/bootstrap.min.css" <link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
        <link rel="stylesheet" type="text/css" href="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" <link rel="stylesheet"
        type="text/css" href="login/vendor/animate/animate.css" <link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css"
        <link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css" <link rel="stylesheet"
        type="text/css" href="login/vendor/select2/select2.min.css" <link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css"
        <link rel="stylesheet" type="text/css" href="login/css/util.css">
    <link rel="stylesheet" type="text/css" href="login/css/main.css" <link href="{{ asset('assets/css/bootstrap.min.css') }}"
        rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://mannatthemes.com/dastone/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    {% endblock %}

    {% block body %} {% endblock %}

    {% block javascripts %}

    <!--===============================================================================================-->
    {# login #}

    <script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="login/vendor/animsition/js/animsition.min.js"></script>
    <script src="login/vendor/bootstrap/js/popper.js"></script>
    <script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="login/vendor/select2/select2.min.js"></script>
    <script src="login/vendor/daterangepicker/moment.min.js"></script>
    <script src="login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="login/vendor/countdowntime/countdowntime.js"></script>
    <script src="login/js/main.js"></script>
    {% endblock %}