{% extends 'base_front.html.twig' %}
{% block title %}dépôt de solde{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Dépôt</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Montants</li>
                            <li class="breadcrumb-item active">Dépôt</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
    </div>

    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="row notification">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="alert bg-{{ label }} alert-dismissible text-white">
                {% for message in messages %}
                    <i class="fas fa-{% if label == "success" %}check{% else %}times{% endif %}"></i> {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
{% endfor %}

    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="flex float-right">
                <button class="btn btn-success"
                onclick="return confirm('Est-ce que vous voulez vraiment faire un dépôt');"><i class="fa fa-check"></i>Valider</button>
                <a href="{{path('depense')}}" class="btn btn-warning rounded-0">
                        <i class="fa fa-times"></i>
                    Annuler
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    {% endblock %}