{% extends 'base_admin.html.twig' %}
{% block title %}Administration
{% endblock %}
{% block body %}
	{% include 'partials/header.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<div class="row">
						<div class="col">
							<ol class="breadcrumb d-flex align-items-center">
								<li class="breadcrumb-item">
									<a href="javascript:void(0);">IPDemat</a>
								</li>
								<li class="breadcrumb-item active">Tableau de bord</li>
							</ol>
						</div>
						<!--end col-->
					</div>
					<!--end row-->
				</div>
				<!--end page-title-box-->
			</div>
			<!--end col-->
		</div>
		<!--end row-->
		<!-- end page title end breadcrumb -->


		{# banner #}
			<div class="banner d-flex justify-content-between align-items-start p-3"> <div class="text-white">Administration</div>
			<div class="d-flex align-items-center"></div>
			<div class="input-rounded">
				<i class="fas fa-search text-white"></i>
				<input type="search" placeholder="Rechercher">
			</div>
			<!-- {% include 'partials/research.html.twig' %} -->
		</div>
		{# End banner #}
		<div class="card-statistic">
			<div class="container">
				<h2 class="ml-3 mt-4 mb-1">
					<strong>jour </strong>
				</h2>
				<div class="row">
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Reçu</span>
						<span class="text-white mx-1">{{ compte_journalier_rechargement }}
						</span>
							<i class="fas fa-euro-sign text-white"></i></h3>
							<a href="{{ path('recharger_jour') }}">
								<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
							</a>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Déposé</span>
						<span class="text-white mx-1">{{ compte_journalier_depose }}</span>
						<i class="fas fa-euro-sign text-white"></i></h3>
						<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Depensé</span>
						<span class="text-white mx-1">{{ compte_depenser_journalier }}</span>
						<i class="fas fa-euro-sign text-white"></i></h3>
						<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
					</div>
				</div>
				<h2 class="ml-2 mt-4 mb-1">
					<strong>Mois</strong>
				</h2>
				<div class="row">
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Reçu</span>
						<span class="text-white mx-1">{{ compte_mensuel_rechargement }}</span>
						<i class="fas fa-euro-sign text-white"></i></h3>
						<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Déposé</span>
						<span class="text-white mx-1">{{ compte_mensuel_depose }}</span>
						<i class="fas fa-euro-sign text-white"></i></h3>
						<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<h3><span class="text-success mx-2">Depensé</span>
						<span class="text-white mx-1">{{ compte_mensuel_depenser }}</span>
						<i class="fas fa-euro-sign text-white"></i></h3>
						<h2 title="Informations détaillées" class="fas fa-eye text-white ml-5"></h2>
					</div>
				</div>

				{# <h2 class="ml-2 mt-4 mb-1">
					<strong>Année</strong>
				</h2>
				<div class="row">
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<span class="text-success mx-2">Reçu</span><br>
						<span class="text-danger mx-1"></span>
						<i class="fas fa-euro-sign text-white"></i>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<span class="text-success mx-2">Déposé</span><br>
						<span class="text-danger mx-1"></span>
						<i class="fas fa-euro-sign text-white"></i>
					</div>
					<div class="col-lg-3 col-sm-12 margin-top-5 margin-left-20 card-statistic-item">
						<span class="text-success mx-2">Depensé</span><br>
						<span class="text-danger"></span>
						<i class="fas fa-euro-sign text-white"></i>
					</div>
				</div> #}
			</div>
		</div>

	{% endblock %}
