{% extends 'base_admin.html.twig' %}
{% block title %}Montants déposer{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Montants</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Montants</li>
                            <li class="breadcrumb-item active">Montants déposer de chaque agents</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">

                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white text-center">Montant</td>
                        <td class="text-white">Date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for depot in depots %}
                    {# {% for user in users %} #}
                    <tr>
                        <td>{{ depot.agent.numCom }}</td>
                        <td>{{ depot.agent.nom }}</td>
                        <td>{{ depot.agent.prenom }}</td>
                        <td class="text-danger text-center">{{ depot.monDepot }} <p class="fas fa-euro-sign"></p> </td>
                        <td>{{ depot.date | date ("d-m-Y") }}</td>
                    </tr>
                    {% else %}
                    {# {% endfor %} #}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}