{% extends 'base_admin.html.twig' %}
{% block title %}Montants Reçus{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Montants</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Montants</li>
                            <li class="breadcrumb-item active">Montants reçus des agents</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">

                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Prénom</td>
                        <td class="text-white text-center">Montant</td>
                        <td class="text-white">Client</td>
                        <td class="text-white">Date</td>
                        <td class="text-white">Observation</td>
                        {# <td class="text-white"></td> #}
                    </tr>
                </thead>
                <tbody>
                    {% for rechargement in rechargements %}
                    <tr>
                        <td>{{ rechargement.agent.numCom }}</td>
                        <td>{{ rechargement.agent.nom }}</td>
                        <td>{{ rechargement.agent.prenom }}</td>
                        <td class="text-danger text-center">{{ rechargement.monRecu }} <p class="fas fa-euro-sign"></p> </td>
                        <td>{{ rechargement.bout.nom }}</td>
                        <td>{{ rechargement.date | date ("d-m-Y") }}</td>
                        <td>{{ rechargement.obesr }}</td>
                    </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}